{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "plugins": ["transform-runtime", ["component", [
    { "libraryName": "mint-ui", "style": true }
  ]]]
}
